<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
    <button class="button button-full button-assertive">
	  Full Width Block Button
	</button>
	<div class="button-bar">
	  <button class="button button-assertive">First</button>
	  <button class="button button-assertive">Second</button>
	  <button class="button button-assertive">Third</button>
	</div><br>
	<ul class="list">
    <li class="item item-divider">
      Item1
    </li>
    <li class="item item-divider">
      Item2
    </li>
	</ul>
	<div class="list">
	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-email"></i>
	    Check mail
	  </a>
	</div>
	<div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="http://ionicframework.com/img/docs/blue-album.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="http://ionicframework.com/img/docs/siamese-dream.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
	</div>
	<div class="row">
	<div class="list card col col-50">

  <div class="item item-avatar">
    <img src="http://tutupash.com/site/assets/nin_logo.jpeg">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>

  <div class="item item-image">
    <img src="http://ecx.images-amazon.com/images/I/41D5vU4I1NL.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Start listening
  </a>

</div>
<div class="col col-50">
	<div class="row">
  <div class="col col-50">.col.col-50</div>
  <div class="col">.col</div>
  <div class="col">.col</div>
</div>

<div class="row">
  <div class="col col-75">.col.col-75</div>
  <div class="col">.col</div>
</div>

<div class="row">
  <div class="col">.col</div>
  <div class="col col-75">.col.col-75</div>
</div>

<div class="row">
  <div class="col">.col</div>
  <div class="col">.col</div>
  <div class="col">.col</div>
  <div class="col">.col</div>  
  <div class="col">.col</div>  
  <div class="col">.col</div>
</div>
</div>
  </ion-content>
</ion-view>
